#calendar-view {
    position:relative;
    background-color:gray;
    height:100%;
    width:auto;
}

#calendar-master-view {
    background-color: #fff;
    border: 1px solid;
    display: block;
    float: left;
    height:100%;
    padding: 10px;
    width: 200px;
    list-style-type: none;
}

#calendar-detail-view {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: 0 0 0 200px;
    height:100%;
    overflow:auto;
}

#calendar-timeline {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin-top:25px;
    margin-left: 5px;
    width: 40px;
    border-right: 3px solid;
}

#calendar-timeline div {
    height: 50px;
    width: 40px;
    border-top: 1px dotted;
}

#calendar-header {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin-left:40px;
    height: 25px;
    width:auto;
}

#calendar-header-table {
    position: absolute;
    table-layout: fixed;
    width:100%;

}

#calendar-header-table th{
    text-align: center;
}



#calendar-wrapper {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin-left:45px;
    margin-top:25px;
    height:805px;
    width: auto;
}


#calendar-content {

}

#calendar-content div {
    height: 25px;
    width: 100%;
    margin-bottom: 25px;
    background-color: lightgray;
    border: 1px solid;
}

#calendar-table {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 805px;
    table-layout: fixed;
    width:100%;
    border-bottom: 1px solid;
}

.calendar-day-column {
    border-right: 3px solid ;
    height: 805px;


}

#termin-test {

}