#luchs-body {
    background-color: #dadada;
    font-family: Arial, sans-serif;
    margin: 0;
}

#luchs-header {
    background-color: #2a2a2a;
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}

#header-logo {
    height: 50px;
    width: 60px;
    /*background-image: url("../images/logo.jpg");*/
    background-image: url("../images/newlogo.png");
    display: inline-block;
    float: left;
    cursor: pointer;
}

#header-title {
    color: white;
    text-align: center;
    margin: 0 0 0 20px;
    padding-top: 5px;
    float: left;
    cursor: pointer;
    flex: 1 1 auto;
}

#header-user-button {
    float: right;
    margin: 8px 40px 0 0;
}

#header-user-button button {
    width: 150px;
}
