header {
    background-color: #2a2a2a;
    height: 50px;
}

body {
    background-color: #dddddd;
}

#header-logo {
    height: 50px;
    width: 60px;
    background-image: url("../images/logo.jpg");
    display: inline-block;
    float: left;
}

#header-title {
    color: white;
    text-align: center;
    margin: 0 0 0 20px;
    padding-top: 5px;
    float: left;

}

#header-user-button {
    float: right;
}
