#login-view {
    background-color: grey;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;

}

#login-view label {
    font-size: 2em;
    width: 100%;

}

#login-view input {
    width: 100%;
    height: 30px
;
}