.news-wrapper {
    border-bottom: 1px solid;
}

.news-wrapper:last-child {
    border: 0 none;
}

.news-item {
    margin: 15px 200px;
    background-color: #fff;
    padding: 2px 25px 10px 25px;
}

#news-view {
    /*position:absolute;
    overflow:scroll;*/
}