.news-wrapper {
    border-bottom: 2px solid #888;
}

.news-wrapper:last-child {
    border: 0 none;
}

.news-item {
    margin: 15px 200px;
    background-color: #fff;
    padding: 2px 25px 10px 25px;
    border-radius: 10px;
}
.news-item h6{
    color:#b4b4b4;
}

#news-view {
    /*position:absolute;
    overflow:scroll;*/
}