.news-wrapper {
    border-bottom: 2px solid;
    border-bottom-color: #888;
}

.news-wrapper:last-child {
    border: 0 none;
}

.news-item {
    margin: 15px 200px;
    background-color: #fff;
    padding: 2px 25px 10px 25px;
}

