#registration-manager-view {
    height: 500px;
    margin: 0 10px;
}

#registration-master-view {
    background-color: #fff;
    border: 1px solid;
    display: block;
    float: left;
    height: 100%;
    padding: 0;
    width: 300px;
}

#registration-master-view > li {
    border-bottom: 1px solid black;
    cursor: pointer;
    list-style: outside none none;
    padding: 10px;
}

#registration-master-view > li:last-child {
    border: 0 none;
}

#registration-detail-view {
    background-color: white;
    height: 100%;
    margin: 0 0 0 300px;
    border: 1px solid;
}

.registration-module-list-item {
    border-bottom: 1px solid black;
    padding: 10px 20px;
}

.registration-module-list-item:last-child {
    border-bottom: 0 none;
}